/* CSS declarations go here */
input, select {
    font-size: 16px;
}

header {
    background: #00366b;
    color: white;
}

.myContainer {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.middleHead {
    text-align: center;
    inline: block;
}

.navHead {
    position: relative;
    float: left;
    margin-top: 7px;
    margin-right: 4px;
    margin-left: 5px;
    color: blue;
}

.reqField {
    background-color: red !important;
    border-color: black !important;
}

button.primary {
    background: #93b7d6;
    color: white;
    float: right;
}

button.cancel {
    background: orange;
    color: black;
}

button.blue {
    background: blue;
    color: white;
}

button.delete {
    background: red;
    color: white;
}

/* style the image upload input */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background: #ADD8E6;
}

.pushDown {
    top: 5vh;
    z-index: 0;
}

.gameWait {
    margin-top: 20vh;
    font-size: 32px;
    font-family: courier;
    text-align: center;
}

textarea {
    font-size: 16px;
}

@media print {
    .cardWhole {
        font-size: 14pt;
        border: 1px solid #a1a1a1;
        margin: 5px;
    }
}
