<template name="gameTypeSelection">
    <div>
        <h3>Game Options:</h3>
        <div class="row">
            <div class="column column-50">
                <label>Game Type
                <select id="gameType">
                    <option value="" disabled selected>Choose a Type...</option>
                    <option value="fastest">Fastest Correct Answer Wins</option>
                    <option value="allA">All Teams Have Answered</option>
                </select>
                </label>
            </div>
        </div>
    </div>
</template>
