<template name="gameTypeSelection">
    <div>
        <h3>Game Options:</h3>
        <div class="row">
            <div class="column">
                <label>Game Type
                <select id="gameType">
                    <option value="" disabled selected>Choose a Type...</option>
                    <option value="timed">Timed Game</option>
                    <option value="allA">All Answered</option>
                    <option value="allATimed">All Answered with Time Limit</option>
                </select>
                </label>
            </div>
            <div class="column">
                <br />
                <select id="timeLimitType">
                    <option value="" disabled selected>Time Limit Type...</option>
                    <option value="timedGame">Timed Game</option>
                    <option value="timedQuestions">Timed Questions</option>
                </select>
            </div>
            <div class="column column-25">
                <br />
                <input type="text" id="timeLimit" placeholder="Time Limit" />
            </div>
            <div class="column column-25">
                <br />
                <div id="secondsQuestion">
                    seconds / question
                </div>
                <div id="minutesGame">
                    minutes
                </div>
            </div>
        </div>
    </div>
</template>
