<template name="numberOfQuestions">
    {{#if $eq theGameType "allA"}}
    <div class="row">
        <div class="column">
            <label>Number of Questions for this Game *:
                <input type="text" id="numberOfQuestions" placeholder="Enter a number up to {{availNum}}" />
            </label>
        </div>
    </div>
    {{/if}}

    {{#if $eq theGameType "challenge"}}
        {{#if $gt availNum 39}}
        <div class="row">
            <div class="column">
                <p>
                    You have the possiblity of playing with up to {{availNum}} questions.  A single round is limited to 40 questions.
                </p>
                <p>
                    If you'd like to limit the game to fewer than 40 questions, enter the number in the field below.  If you leave the field blank, the game will be limited to 40 questions automatically.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label>Number of Questions for this Game *:
                    <input type="text" id="numberOfQuestions" placeholder="Enter a number up to 40" />
                </label>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="column">
                <p>
                    You have the possiblity of playing with up to {{availNum}} questions.
                </p>
                <p>
                    If you'd like to limit the game to fewer than {{availNum}} questions, enter the number in the field below.  If you leave the field blank, the game will be limited to {{availNum}} questions automatically.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label>Number of Questions for this Game *:
                    <input type="text" id="numberOfQuestions" placeholder="Enter a number up to {{availNum}}" />
                </label>
            </div>
        </div>
        {{/if}}
    {{/if}}
    <div class="row">
        <div class="column">
            <button id="makeGame" class="button primary">Create Game Now</button>
        </div>
    </div>
    {{> snackbar}}
</template>
