<template name="questionTimeLimit">
    <label>Question Time Limit:
        <select id="timeLimit">
            <option value="" disabled selected>Chose Time Limit...</option>
            <!-- <option value="fastest">Fastest Correct Answer Wins</option> -->
            <option value="10">10 seconds</option>
            <option value="20">20 seconds</option>
            <option value="30">30 seconds</option>
            <option value="40">40 seconds</option>
            <option value="50">50 seconds</option>
            <option value="60">60 seconds</option>
        </select>
        </label>
</template>