<template name="questionType">
            <label>Question Type:
                <select id="questionType">
                    <option value="" disabled selected>
                        Choose a Type...
                    </option>
                    <option value="trueFalse">
                        True / False
                    </option>
                    <option value="multipleChoice">
                        Multiple Choice
                    </option>
                    <option value="mixed">
                        Mixed Types
                    </option>
                </select>
            </label>
</template>
