.button-option {
    width: 30vw;
    height:20vh;
    font-size: 3vh;
    display: table;
}

.button-option p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.button-trueFalse {
    width: 30vw;
    height:20vh;
    font-size: 3vh;
    display: table;
}

.button-trueFalse p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.question {
    font-size: 24px;
}
